<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复习计划</title>
</head>
<body>

<div id="app">
    <el-main>
        <el-form :inline="true" :model="formInLine">
            <el-form-item>
                <el-select placeholder="复习周期" v-model="formInLine.cycle">
                    <el-option label="全部" value="全部"></el-option>
                    <el-option label="每月计划" value="每月计划"></el-option>
                    <el-option label="每周计划" value="每周计划"></el-option>
                    <el-option label="每日计划" value="每日计划"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-select placeholder="复习状态" v-model="formInLine.status">
                    <el-option label="进行中" value="进行中"></el-option>
                    <el-option label="已完成" value="已完成"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-input placeholder="关键字" v-model="formInLine.content"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="getReview">查询</el-button>
                <el-button type="primary" plain @click="dialogVisible4Add = true">添加复习计划</el-button>
            </el-form-item>
        </el-form>


        <el-table :data="reviews" style="width: 100%" stripe>
            <el-table-column prop="reviewId" label="计划编号" align="center" width="140">
            </el-table-column>
            <el-table-column prop="title" label="标题" align="center">
            </el-table-column>
            <el-table-column prop="cycle" label="复习周期" align="center" width="200">
            </el-table-column>
            <el-table-column prop="reviewTime" label="复习时间" align="center" width="360">
            </el-table-column>
            <el-table-column prop="num" label="复习次数" align="center" width="180">
            </el-table-column>
            <el-table-column prop="status" label="复习状态" align="center" width="180">
            </el-table-column>
            <el-table-column prop="updateTime" label="更新时间" align="center" width="200">
            </el-table-column>
            <el-table-column label="操作" align="center" width="280">
                <template slot-scope="scope">
                    <el-button type="success" size="mini" @click="detail(scope.row)">查看</el-button>
                    <el-button type="primary" size="mini" @click="detail(scope.row)">完成</el-button>
                    <el-button type="danger" size="mini" @click="deleteReview(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!--分页工具条-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pagination.currentPage"
                :page-sizes="[5, 10, 15]"
                :page-size="5"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pagination.total">
        </el-pagination>

    </el-main>

    <!--  添加复习计划  -->
    <el-dialog title="添加复习计划" :visible.sync="dialogVisible4Add" width="60%" center>
            <el-row>
                <el-input  placeholder="标题" v-model="reviewFormData.title"></el-input>
            </el-row><br>
            <el-row>
                <el-select placeholder="复习周期" v-model="reviewFormData.cycle">
                    <el-option label="每月计划" value="每月计划"></el-option>
                    <el-option label="每周计划" value="每周计划"></el-option>
                    <el-option label="每日计划" value="每日计划"></el-option>
                </el-select>
                <el-select v-if="reviewFormData.cycle==='每周计划'" placeholder="星期" v-model="reviewFormData.reviewWeek">
                    <el-option label="星期一" value="MON"></el-option>
                    <el-option label="星期二" value="TUE"></el-option>
                    <el-option label="星期三" value="WED"></el-option>
                    <el-option label="星期四" value="THU"></el-option>
                    <el-option label="星期五" value="FRI"></el-option>
                    <el-option label="星期六" value="SAT"></el-option>
                    <el-option label="星期日" value="SUN"></el-option>
                </el-select>

                <el-select v-if="reviewFormData.cycle==='每月计划'" placeholder="日期" v-model="reviewFormData.reviewDay">
                    <el-option v-for="index in 30" :value="index">每月{{index}}号</el-option>
                </el-select>
                <el-time-picker
                        v-model="reviewFormData.reviewTime"
                        placeholder="任意时间点">
                </el-time-picker>
            </el-row><br>
            <el-row>
                <el-input placeholder="内容" v-model="reviewFormData.content" type="textarea" :autosize="{ minRows: 5, maxRows: 5 }"></el-input>
            </el-row><br>
            <el-row>
                <el-button  type="primary" @click="addReview">确认</el-button>
                <el-button type="" @click="dialogVisible4Add = false;resetForm()">关闭</el-button>
            </el-row>
    </el-dialog>


</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="../plugins/elementui/index.css">
<script src="../plugins/elementui/index.js"></script>
<script>
    const vue = new Vue({
        el: "#app",
        data: {
            onlineUser: null,
            reviews: [],
            formInLine: {
                cycle: '', // 复习周期
                status: '', // 状态
                content: '' //搜索内容
            },
            // 当前页码
            pagination: {
                currentPage: 1,
                pageSize: 5,
                total: 0
            },
            dialogVisible4Add:false,
            reviewFormData:{}
        },
        methods: {

            //查询所有复习计划
            getAllReview() {
                axios.post('/review/getReviews/'+this.pagination.currentPage+'/'+this.pagination.pageSize, {
                    account: this.onlineUser.account,
                    condition: {},
                }).then(r => {
                    this.pagination.currentPage = r.data.current;
                    this.pagination.pageSize = r.data.size;
                    this.pagination.total = r.data.total;
                    this.reviews = r.data.records;
                })
            },

            refreshReview(){
                axios.get('/review/refreshReview/'+this.onlineUser.account).then(res=>{
                    if(res.data){
                        console.log("刷新任务提醒!");
                    }
                })
            },
            //查询复习计划
            getReview() {
                console.log("getReview")
                axios.post('/review/getReviews/'+this.pagination.currentPage+'/'+this.pagination.pageSize, {
                    account: this.onlineUser.account,
                    condition: {
                        cycle:this.formInLine.cycle,
                        status:this.formInLine.status,
                        content:this.formInLine.content
                    }
                }).then(r => {
                    this.pagination.currentPage = r.data.current;
                    this.pagination.pageSize = r.data.size;
                    this.pagination.total = r.data.total;
                    this.reviews = r.data.records;
                })
            },

            //添加复习计划
            addReview() {
                this.reviewFormData.promulgator = this.onlineUser.account;
                let hh = this.reviewFormData.reviewTime.getHours();
                let mm = this.reviewFormData.reviewTime.getMinutes();
                let ss = this.reviewFormData.reviewTime.getSeconds();
                if(this.reviewFormData.cycle==='每日计划'){
                    this.reviewFormData.cron = ss+" "+mm+" "+hh+" * * ?";
                    this.reviewFormData.reviewTime = "每天"+hh+":"+mm+":"+ss;
                }else if(this.reviewFormData.cycle==='每周计划'){
                    this.reviewFormData.cron = ss+" "+mm+" "+hh+" ? * "+this.reviewFormData.reviewWeek;
                    this.reviewFormData.reviewTime = this.transformDate(this.reviewFormData.reviewWeek)+" "+hh+":"+mm+":"+ss;
                }else if(this.reviewFormData.cycle==='每月计划'){
                    this.reviewFormData.cron = ss+" "+mm+" "+hh+" "+this.reviewFormData.reviewDay+" * ?";
                    this.reviewFormData.reviewTime = "每月"+this.reviewFormData.reviewDay+"号 "+hh+":"+mm+":"+ss;
                }
                console.log(this.reviewFormData);
                axios.post('/review/addReview',this.reviewFormData).then(res=>{
                    console.log(res)
                    if(res.data){
                        this.reviewFormData = {}
                        this.dialogVisible4Add = false;
                        this.$message.success("添加计划成功，记得按时完成哦~");
                        this.refreshReview(); // 刷新任务提醒
                        this.getAllReview();
                    }
                })
            },
            transformDate(ch){
                switch (ch){
                    case 'Mon':return '星期一'
                    case 'TUE':return '星期二'
                    case 'WED':return '星期三'
                    case 'THU':return '星期四'
                    case 'FRI':return '星期五'
                    case 'SAT':return '星期六'
                    case 'SUN':return '星期日'
                }
            },
            <!--分页-->
            handleSizeChange(val) { //切换当前页显示条数
                this.pagination.pageSize = val;
                this.getAllReview();
            },
            handleCurrentChange(val) { //切换页码值
                this.pagination.currentPage = val;
                this.getAllReview();
            },

            //复选框选中后执行的方法 /*OK*/
            handleSelectionChange(val) {
                this.multipleSelection = val;
            }

        },
        created() {
            this.onlineUser = window.parent.getOnlineUser();
            this.getAllReview();
        }
    });
</script>
</body>
</html>