<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打卡区</title>
</head>
<style>
    #signup {
        font-size: 20px;
    }

</style>
<body>
<div id="app">

    <el-button type="primary" size="mini" style="position: absolute;right: 15%;top: 2.8%" :disabled="isSign" @click="signIn">签到</el-button>
    <el-calendar v-model="current">
        <!-- 这里使用的是 2.5 slot 语法，对于新项目请使用 2.6 slot 语法-->
        <template
                slot="dateCell"
                slot-scope="{date, data}">
                {{ date.getDate()}}
                <br/>
                <img v-if="getDetail(date,data.day)" src="../image/sign.png" style="width: 50px;height: 50px">
        </template>
    </el-calendar>

    <div style="position:absolute;left: 1.7%;" id="signup">√&nbsp;当天打卡人数: {{signNumber}}</div>
</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="../css/elementui/index.css">
<script src="../js/elementui/index.js"></script>
<script>
    const vue = new Vue({
        el: "#app",
        data: {
            current:null,
            currentDate:"", // 当前日期
            signTable:[],
            table:[],
            numberTable:[],
            signNumber:0,
            isSign:false,
            list:[
                {
                    signDate:null,
                    hasSign:null,
                    cardNumber:0
                }
            ],
            months:[],
            onlineUser: null,
        },
        methods: {
            getCalendarTable(year,month){
                axios.get('/sign/getSignTable/'+year+"/"+month+"/"+this.onlineUser.account).then(res=>{
                    this.signTable = res.data;
                    this.list = res.data.calendar;
                    for (let i = 0; i <= this.list.length; i++) {
                        this.table[this.list[i].signDate] = this.list[i].hasSign;
                        this.numberTable[this.list[i].signDate] = this.list[i].cardNumber;
                    }
                }).catch(()=>{})
            },
            getDetail(date,data){
                // if(this.months.indexOf(data.slice(0,7))===-1){ // 不存在数据
                //     this.months.push(data.slice(0,7));
                //     this.getCalendarTable(date.getFullYear(),date.getMonth()+1)
                // }
                // window.parent.test(this.table);
                // return this.table[data];
                return true;
            },
            signIn(){
                axios.get("/sign/signIn/"+this.onlineUser.account).then(res=>{
                    if(res.data.length>0){
                        this.$notify({
                            title: "签到成功",
                            message: "签到成功，快去学习一下吧~",
                            type: 'success'
                        });
                        this.isSign = true;
                        this.table[res.data] = true;
                    }
                })
            },
            isSignIn(){
                axios.get("/sign/isSignIn/"+this.onlineUser.account).then(res=>{
                    this.isSign = res.data;
                })
            }
        },

        created() {
            this.onlineUser = window.parent.getOnlineUser();
            this.signTable = window.parent.getSignData();
            this.isSignIn();
            this.list = this.signTable.calendar;
            for (let i = 0; i <= this.list.length; i++) {
                this.table[this.list[i].signDate] = this.list[i].hasSign;
                this.numberTable[this.list[i].signDate] = this.list[i].cardNumber;
                this.currentDate = this.signTable.currentDate;
                this.signNumber = this.numberTable[this.currentDate];
            }
        },
        watch:{
            current(newVal,oldVal){
                let year = newVal.getFullYear().toString().padStart(2,'0');
                let month = (newVal.getMonth()+1).toString().padStart(2,'0');
                let day = newVal.getDate().toString().padStart(2,'0');
                let newDate = year+"-"+month+"-"+day;
                console.log(newDate);
                this.signNumber = this.numberTable[newDate];
            }
        }
    });
</script>
</body>
</html>