* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#add {
    background: #eee;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.page-title {
    text-align:left;
    top: 15px;
    border-top: 1.5px solid #333E4F;
    /*border-bottom: 2px solid #333E4F;*/
    padding-left: 30px;
    font-family: '黑体';
    color: #003558;
    font-size: 48px;
    line-height: 80px;
    background: #fff;
}

#middle {
    overflow: hidden;
    padding-top: 20px;
    text-align: left;
    margin: 0 auto;
    width: 1600px;
    background: #E5E9EE;
    z-index: 3;
}
#middle #sub-middle {
    margin-left: 100px;
}
#middle .el-form .el-form-item label {
    font-size: 18px;
    color: #333E4F;
    font-family: '黑体';
}
#middle .el-form .el-form-item:first-child label {
    font-size: 32px;
    font-weight: bold;
}
#middle .el-form .el-form-item:first-child .el-form-item__content {
    height: 45px;
}
#note-title-input {
    width: 600px;
}
#note-option {
    width: 200px;
}

#main {
    margin: 0 auto;
    width: 1600px;
    background: #fff;
}
#main > div {
    z-index: 0;
    margin: 0 auto;
    border-radius: 0.4em;
    border: 3px solid #003558;
    width: 1400px;
}
#main > h2 {
    margin-left: 120px;
    font-size: 28px;
    font-weight: bolder;
    padding-top: 30px;
    margin-bottom: 12px;
    font-family: '黑体';
    color: #333E4F;
}

/*#main .editor-title h2 {*/
/*    border-left: 5px solid #25AE9E;*/
/*    margin-left: 120px;*/
/*    font-size: 35px;*/
/*    font-weight: bolder;*/
/*    padding-top: 50px;*/
/*    margin-bottom: 12px;*/
/*    font-family: '黑体';*/
/*    color: #333E4F;*/
/*}*/

/*.demo {*/
/*    display: flex;*/
/*}*/

/*.demo .s1 {*/
/*    background: #036CD4;*/
/*    height: 30px;*/
/*    width: 5px;*/
/*    margin-right: 5px;*/
/*}*/

.demo .s2 {
    border-left: 5px solid #25AE9E;
    line-height: 30px;
}

#topDiv {
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    width: 1600px;
    background: #fff;
}
#topDiv .el-button {
    font-family: '幼圆';
    font-size: 25px;
    margin-right: 20px;
}
.el-message-box {
    margin: 30px auto;
    display: block;
    z-index: 20;
}