<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>错题管理系统</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{~/plugins/elementui/index.css}">
    <link rel="stylesheet" th:href="@{~/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body class="hold-transition" onload="init()">
<div id="app">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-graduation-cap" id="btn" style="font-size: 42px"><span style="font-size: 48px;font-family: '楷体',serif">错题管理系统</span></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>
    <div id="header">
        <div id="logout"><a href="javascript:app.logout()">退出登录</a></div>
    </div>
    <!--侧边栏-->
    <div id="side" class="sidebar">
        <div class="top">
            <div id="topBox">
                <h2 id="userName">[[${username}]]</h2>
                <span style="display: none" id="password">[[${password}]]</span>
            </div>

        </div>
        <ul id="introduce">
            <li><i class="fa fa-user-circle-o"></i><span id="account">[[${account}]]</span></li>
            <li><i class="fa fa fa-phone"></i><span id="telephone">[[${telephone}]]</span></li>
            <li><i class="fa fa-envelope"></i><span id="email">[[${email}]]</span></li>
        </ul>
        <ul id="center">
            <li><a href="javascript:app.changeFrame('notes')"><i class="fa fa-server"></i>错题集</a></li>
            <li><a href="javascript:app.changeFrame('review')"><i class="fa fa-server"></i>复习计划</a></li>
            <li><a href="javascript:app.changeFrame('statistics')"><i class="fa fa-tasks"></i>数据统计</a></li>
            <li><a href="javascript:app.changeFrame('#')"><i class="fa fa-tasks"></i>打卡区</a></li>
            <li><a href="javascript:app.changeFrame('#')"><i class="fa fa-tasks"></i>草稿纸</a></li>
            <li><a href="javascript:app.changeFrame('trash')"><i class="fa fa-trash"></i>回收站</a></li>
        </ul>
        <ul id="bottom">
            <li><a href="javascript:app.openFeedbackDialog()"><i class="fa fa fa-sun-o"></i>意见反馈</a></li>
            <li><a href="javascript:app.openChangePasswordDialog()"><i class="fa fa fa-sun-o"></i>修改密码</a></li>
            <li><a href="javascript:app.logout()"><i class="fa fa fa-power-off"></i>退出登录</a></li>
        </ul>
    </div>
    <br><br>
    <!--主界面-->
    <div class="content">
        <iframe id="index" :src="frame"></iframe>
    </div>
    <!--修改密码对话框-->
    <el-dialog
            title="修改密码"
            :visible.sync="changePasswordDialog"
            width="30%">
        <el-form ref="FormEditPsw" :model="PswDataForm" label-width="150px">
            <el-form-item label="请输入原密码:">
                <el-input id="oldPsw" type="password" placeholder="请输入原密码" v-model="PswDataForm.oldPsw" show-password></el-input>
                <br>
                <span id="password_err" class="err_msg" style="display: none">原密码错误，请再次输入</span>
            </el-form-item>
            <el-form-item label="请输入新密码:">
                <el-input id="newPsw" type="password" placeholder="请输入新密码" v-model="PswDataForm.newPsw" show-password></el-input>
                <br>
                <span id="password_err1" class="err_msg" style="display: none">新密码格式错误(至少六位)</span>
            </el-form-item>
            <el-form-item label="重新输入新密码:">
                <el-input id="newPsw1" type="password" placeholder="再次输入新密码" v-model="PswDataForm.newPsw1" show-password></el-input>
                <br>
                <span id="password_err3" class="err_msg" style="display: none">密码不一样，请再次输入</span>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="changePassword" changePasswordDialog=false>确认</el-button>
                <el-button @click="changePasswordDialog = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--意见反馈对话框-->
    <el-dialog title="意见反馈" :visible.sync="feedbackDialog" width="40%">
        <el-form>
            <el-form-item>
                <el-select placeholder="反馈类型" v-model="feedback.category">
                    <el-option label="功能建议" value="功能建议"></el-option>
                    <el-option label="缺陷报告" value="缺陷报告"></el-option>
                    <el-option label="用户体验" value="用户体验"></el-option>
                    <el-option label="技术支持" value="技术支持"></el-option>
                    <el-option label="其他" value="其他"></el-option>
                </el-select>
                <el-checkbox v-model="anonymous">匿名</el-checkbox>
            </el-form-item>

            <el-form-item label="反馈内容:">
                <el-input v-model="feedback.content" type="textarea" :autosize="{ minRows: 5, maxRows: 5 }"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="sendMessage()">确认</el-button>
                <el-button @click="resetForm()">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
</div>
</body>
<script th:src="@{~/js/vue.js}"></script>
<script th:src="@{~/plugins/elementui/index.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/axios-0.18.0.js}"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            onlineUser: { //当前在线用户信息
                account: "",
                password: "",
                username: "",
                telephone: "",
                email: ""
            },
            frame: "",    //主界面
            feedback: {category:"功能建议"},//意见反馈
            anonymous:true,
            PswDataForm: {//修改密码数据
                oldPsw: '',
                newPsw: '',
                newPsw1: ''
            },
            //修改密码对话卡是否显示
            changePasswordDialog: false,
            //意见反馈对话框
            feedbackDialog: false,
        },
        methods: {
            initUser() {
                this.onlineUser.account = document.getElementById("account").innerText;
                this.onlineUser.password = document.getElementById("password").innerText;
                this.onlineUser.username = document.getElementById("userName").innerText;
                this.onlineUser.telephone = document.getElementById("telephone").innerText;
                this.onlineUser.email = document.getElementById("email").innerText;
                this.changeFrame('notes')
            },
            //更改主界面（图书信息，归还图书，借阅记录……）
            changeFrame(frame) {
                this.frame = "pages/" + frame + ".html";
                document.getElementById('cancel').click();   //关闭侧边栏
            },
            //打开修改密码对话框
            openChangePasswordDialog() {
                this.changePasswordDialog = true;
            },
            //修改密码操作
            changePassword() {
                var oldPsw = this.PswDataForm.oldPsw; //旧密码
                var newPsw = this.PswDataForm.newPsw; //新密码
                var newPsw1 = this.PswDataForm.newPsw1; //确认新密码

                if (this.onlineUser.password !== oldPsw) {
                    this.$message.error("您输入的原密码不正确,请重新输入! (-_-||)");
                } else if (newPsw !== newPsw1) {
                    this.$message.error("两次新密码输入内容不一致,请重新输入! (-_-||)");
                } else {
                    //弹出警告框,让普通用户进行二次确认
                    this.$confirm('确认更改您的密码?', 'Tips', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get("/changePassword/" + this.onlineUser.account + "/" + oldPsw + "/" + newPsw).then((res) => {
                            this.changePasswordDialog = false;
                        }).finally(() => {
                            //弹出确认框
                            this.$confirm("更改密码成功,请重新登录~ (^_^)", "Tips", {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                                type: 'success'
                                /*无论是取消还是确定,点击后都是退出*/
                            }).then(() => {
                                window.location.href = 'http://localhost:8080/logout';//退出操作
                            }).catch(() => {
                                window.location.href = 'http://localhost:8080/logout';//退出操作
                            });
                        });
                    }).catch(() => {
                        this.$message.info("已取消操作");
                        this.changePasswordDialog = false;
                    })
                }
            },
            logout() {
                window.location.href = "logout";
            },
            /**----------------------------意见反馈------------------------------------*/
            openFeedbackDialog() {
                this.feedbackDialog = true;
            },

            resetForm(){
                this.feedback = {category:"功能建议"};
                this.feedbackDialog = false;
            },
            sendMessage(){
                if(this.anonymous){//匿名
                    this.feedback.sender = "匿名";
                }else{
                    this.feedback.sender = this.onlineUser.account;
                }
                this.feedback.email = this.onlineUser.email;
                this.feedback.telephone = this.onlineUser.telephone;
                this.feedbackDialog = false;
                this.$message.info("邮件发送中…………");
                axios.post('/sendFeedback',this.feedback).then(res=>{
                    if(res.data){
                        this.$notify({
                            title: '成功',
                            message: '反馈信息发送成功，请留意您的邮箱和手机短信',
                            type: 'success'
                        });
                        this.resetForm();
                    }
                })
            },
            prompt(data) { // 收到消息提示
                console.log(data)
                this.$notify({
                    title: data.sender + '发来一条消息',
                    message: data.content,
                    type: 'info'
                });
            },
        },
        //钩子函数
        created() {
            this.initUser();
        }
    });

    function getOnlineUser() {
        return app.onlineUser;
    }


    function sendMessage(msg) { // 发送信息
        websocket.send(JSON.stringify(msg));
    }

    /**---------websocket------------*/
    const wsUri = "ws://127.0.0.1:8080/websocket/" + getOnlineUser().account;
    let websocket = new WebSocket(wsUri);

    function init() {
        testWebSocket();
    }

    function testWebSocket() {
        websocket.onopen = function (evt) {
            onOpen(evt)
        };
        websocket.onclose = function (evt) {
            onClose(evt)
        };
        websocket.onmessage = function (evt) {
            onMessage(evt)
        };
        websocket.onerror = function (evt) {
            onError(evt)
        };
    }

    function onOpen(evt) {
        console.log("onOpen :" + evt.data);
    }

    function onClose(evt) {
        console.log("onClose :" + evt.data);
    }

    function onMessage(evt) {
        alert("hahahaha")
        console.log("onMessage :" + evt.data);
        app.prompt(JSON.parse(evt.data));
    }

    function onError(evt) {
        console.log("error:" + evt.data);
    }
</script>
</html>